@using Leopard.Models;
@using GridMvc.Html;

@{
    ViewBag.Title = "Inicio";
}

@model GroupViewModel

<h1>Bienvenido a Matuned</h1>

<br />

<div class="panel panel-default">
    <div class="panel-heading">Cursos disponibles</div>
    <div class="panel-body">

        @Html.Grid(Model.Grupos).Columns(columns =>
        {
            columns.Add(e => e.Name).Titled("Nombre").Filterable(true);
            columns.Add(e => e.WhatsAppURL).Titled("URL");
        }).WithPaging(20)
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">Verificar existencia de grupo</div>
    <div class="panel-body">

        @using (Html.BeginForm("CheckGroup", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

                <div class="col-lg-8">
                    <div class="form-group">

                        @Html.LabelFor(x => x.Grupo.WhatsAppURL, new { @class = "col-md-4 control-label " })
                        <div class="col-md-8">

                            @Html.TextBoxFor(x => x.Grupo.WhatsAppURL, new { @class = "form-control input-md", placeholder = "Nombre del curso" })

                            <span class="help-block">@Html.ValidationMessageFor(x => x.Grupo.WhatsAppURL, null, new { style = "color: red;" })</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for=""></label>
                        <div class="col-md-8">
                            <input type="reset" class="btn btn-danger" value="Restablecer" />

                            <input type="submit" class="btn btn-success" value="Agregar" />
                        </div>
                    </div>

                </div>
         
        }

    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">Agregar</div>
    <div class="panel-body">

        @using (Html.BeginForm("AddGroup", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        @Html.LabelFor(x => x.Grupo.Name, new { @class = "col-md-4 control-label " })
                        <div class="col-md-8">

                            @Html.TextBoxFor(x => x.Grupo.Name, new { @class = "form-control input-md", placeholder = "Nombre del curso" })

                            <span class="help-block">@Html.ValidationMessageFor(x => x.Grupo.Name, null, new { style = "color: red;" })</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">

                        @Html.LabelFor(x => x.Grupo.WhatsAppURL, new { @class = "col-md-4 control-label " })
                        <div class="col-md-8">

                            @Html.TextBoxFor(x => x.Grupo.WhatsAppURL, new { @class = "form-control input-md", placeholder = "Nombre del curso" })

                            <span class="help-block">@Html.ValidationMessageFor(x => x.Grupo.WhatsAppURL, null, new { style = "color: red;" })</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for=""></label>
                        <div class="col-md-8">
                            <input type="reset" class="btn btn-danger" value="Restablecer" />

                            <input type="submit" class="btn btn-success" value="Agregar" />
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
